<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.etiantian.dao.mappers.JMaterialNodeInfoDelMapper">
  <resultMap id="BaseResultMap" type="com.etiantian.entity.JMaterialNodeInfoDel">
    <id column="ref" jdbcType="BIGINT" property="ref" />
    <result column="list_id" jdbcType="BIGINT" property="listId" />
    <result column="dir_id" jdbcType="BIGINT" property="dirId" />
    <result column="list_dir_name" jdbcType="VARCHAR" property="listDirName" />
    <result column="order_id" jdbcType="INTEGER" property="orderId" />
    <result column="ggs_time" jdbcType="TIMESTAMP" property="ggsTime" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    ref, list_id, dir_id, list_dir_name, order_id, ggs_time
  </sql>
  <select id="selectByExample" parameterType="com.etiantian.entity.JMaterialNodeInfoDelExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from j_material_node_info_del
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from j_material_node_info_del
    where ref = #{ref,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from j_material_node_info_del
    where ref = #{ref,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.etiantian.entity.JMaterialNodeInfoDelExample">
    delete from j_material_node_info_del
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.etiantian.entity.JMaterialNodeInfoDel">
    insert into j_material_node_info_del (ref, list_id, dir_id, 
      list_dir_name, order_id, ggs_time
      )
    values (#{ref,jdbcType=BIGINT}, #{listId,jdbcType=BIGINT}, #{dirId,jdbcType=BIGINT}, 
      #{listDirName,jdbcType=VARCHAR}, #{orderId,jdbcType=INTEGER}, #{ggsTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.etiantian.entity.JMaterialNodeInfoDel">
    insert into j_material_node_info_del
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="ref != null">
        ref,
      </if>
      <if test="listId != null">
        list_id,
      </if>
      <if test="dirId != null">
        dir_id,
      </if>
      <if test="listDirName != null">
        list_dir_name,
      </if>
      <if test="orderId != null">
        order_id,
      </if>
      <if test="ggsTime != null">
        ggs_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="ref != null">
        #{ref,jdbcType=BIGINT},
      </if>
      <if test="listId != null">
        #{listId,jdbcType=BIGINT},
      </if>
      <if test="dirId != null">
        #{dirId,jdbcType=BIGINT},
      </if>
      <if test="listDirName != null">
        #{listDirName,jdbcType=VARCHAR},
      </if>
      <if test="orderId != null">
        #{orderId,jdbcType=INTEGER},
      </if>
      <if test="ggsTime != null">
        #{ggsTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.etiantian.entity.JMaterialNodeInfoDelExample" resultType="java.lang.Integer">
    select count(*) from j_material_node_info_del
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update j_material_node_info_del
    <set>
      <if test="record.ref != null">
        ref = #{record.ref,jdbcType=BIGINT},
      </if>
      <if test="record.listId != null">
        list_id = #{record.listId,jdbcType=BIGINT},
      </if>
      <if test="record.dirId != null">
        dir_id = #{record.dirId,jdbcType=BIGINT},
      </if>
      <if test="record.listDirName != null">
        list_dir_name = #{record.listDirName,jdbcType=VARCHAR},
      </if>
      <if test="record.orderId != null">
        order_id = #{record.orderId,jdbcType=INTEGER},
      </if>
      <if test="record.ggsTime != null">
        ggs_time = #{record.ggsTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update j_material_node_info_del
    set ref = #{record.ref,jdbcType=BIGINT},
      list_id = #{record.listId,jdbcType=BIGINT},
      dir_id = #{record.dirId,jdbcType=BIGINT},
      list_dir_name = #{record.listDirName,jdbcType=VARCHAR},
      order_id = #{record.orderId,jdbcType=INTEGER},
      ggs_time = #{record.ggsTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.etiantian.entity.JMaterialNodeInfoDel">
    update j_material_node_info_del
    <set>
      <if test="listId != null">
        list_id = #{listId,jdbcType=BIGINT},
      </if>
      <if test="dirId != null">
        dir_id = #{dirId,jdbcType=BIGINT},
      </if>
      <if test="listDirName != null">
        list_dir_name = #{listDirName,jdbcType=VARCHAR},
      </if>
      <if test="orderId != null">
        order_id = #{orderId,jdbcType=INTEGER},
      </if>
      <if test="ggsTime != null">
        ggs_time = #{ggsTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where ref = #{ref,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.etiantian.entity.JMaterialNodeInfoDel">
    update j_material_node_info_del
    set list_id = #{listId,jdbcType=BIGINT},
      dir_id = #{dirId,jdbcType=BIGINT},
      list_dir_name = #{listDirName,jdbcType=VARCHAR},
      order_id = #{orderId,jdbcType=INTEGER},
      ggs_time = #{ggsTime,jdbcType=TIMESTAMP}
    where ref = #{ref,jdbcType=BIGINT}
  </update>
</mapper>